/* root{
  --red: #f54e4e;
  --green: #8bca8a;
} */

/* body{
 background-color: white;
  color: #eee;
} */

.timerMain {
  padding-top:  50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.timerButton{
  background-color: transparent ;
  color: rgba(255, 255, 255, 0.8);
  border:0 ;
  display: inline-block;
  width: 100px;
  cursor: pointer;

}

.timerButton.with-text {
  width:auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

.timerButton.with-text svg {
 width: 36px;
 float: left;
 margin-right: 5px;
}

.timerLabel{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}