#account_circle {
    font-size: 40px;
}

#lock {
    font-size: 40px;
}

#menu_icon {
  font-size: 40px;
}

#card_icon{
  font-size: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

input.email[type="email"],
input.password[type="password"] {
  width: 100%;
  padding: 10px 50px;
}

footer {
  position: absolute;
  left: 0px ;
  bottom: 0px ;
  width: 100% ;
}

#textwrap {
  overflow: hidden;
}